<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.empMapper">
    <!--회원가입-->
    <insert id="insertUser" parameterType="EmpDTO">
        INSERT INTO TB_EMPLOYEE ( EMP_NM
                                , EMP_PWD
                                , EMP_PHN
                                , EMP_EML
                                , EMP_ST_CD
                                , EMP_RNK_CD
                                , EMP_HR_DT
                                , EMP_BRT_DT
                                , REG_DTM)
        VALUES ( #{empNm}
               , #{empPwd}
               , #{empPhn}
               , #{empEml}
               , #{empStCd}
               , #{empRnkCd}
               , #{empHrDt}
               , #{empBrtDt}
               , sysdate())
    </insert>

    <!--    사원 목록 페이지-->
    <!--    사원 프로필 가져오기-->
    <select id="empList" resultType="EmpDTO" parameterType="java.lang.Integer">
        select EMP_NO       empno
             , EMP_NM       empNm
             , EMP_PHN      empPhn
             , EMP_EML      empEml
             , EMP_ST_CD    empStCd
             , EMP_RNK_CD   empRnkCd
             , EMP_HR_DT    empHrDt
             , EMP_BRT_DT   empBrtDt
             , EMP_VCTN_TTL empVctnTtl
             , REG_DTM
        from TB_EMPLOYEE
        LIMIT #{startList}, #{listSize}
    </select>

    <!--    페이징 데이터 가져오기-->
    <select id="getBoardListCnt" resultType="int">
        SELECT count(*) as listCnt
        FROM TB_EMPLOYEE
    </select>

    <!--    사원 목록 상세 조회-->
    <select id="getEmpByEmpNo" parameterType="int" resultType="EmpDTO">
        SELECT EMP_NO       empNo
             , EMP_NM       empNm
             , EMP_PHN      empPhn
             , EMP_EML      empEml
             , EMP_ST_CD    empStCd
             , EMP_RNK_CD   empRnkCd
             , EMP_HR_DT    empHrDt
             , EMP_BRT_DT   empBrtDt
             , EMP_VCTN_TTL empVctnTtl
             , REG_DTM
        FROM TB_EMPLOYEE
        WHERE EMP_NO = #{empNo}
    </select>
    <!--로그인 구현-->
    <select id="selectLogin" parameterType="LoginReq" resultType="EmpDTO">
        SELECT EMP_NO     empNo
             , EMP_NM     empNm
             , EMP_PHN    empPhn
             , EMP_EML    empEml
             , EMP_ST_CD  empStCd
             , EMP_RNK_CD empRnkCd
             , EMP_HR_DT  empHrDt
             , EMP_BRT_DT empBrtDt
             , REG_DTM
        FROM TB_EMPLOYEE
        WHERE EMP_PHN = #{empPhn}
          AND EMP_PWD = #{empPwd}
    </select>
    <!--사원 프로필 검색-->
    <select id="selectBoardList" parameterType="EmpReq" resultType="EmpDTO">
        select EMP_NO empNo
        , EMP_NM empNm
        , EMP_PHN empPhn
        , EMP_EML empEml
        , EMP_ST_CD empStCd
        , EMP_RNK_CD empRnkCd
        , EMP_HR_DT empHrDt
        , EMP_BRT_DT empBrtDt
        , REG_DTM
        from TB_EMPLOYEE
        <include refid="sqlSelectBoardList"/>
        LIMIT #{startList}, #{listSize}
    </select>
    <!-- 검색 조건(이름,empNo) -->
    <sql id="sqlSelectBoardList">
        <where>
            <if test="empNm != null and empNm != ''">
                and EMP_NM LIKE CONCAT('%', #{empNm}, '%')
            </if>
            <if test="empNo != null and empNo != ''">
                and EMP_NO = #{empNo}
            </if>
        </where>
    </sql>

    <!--목록 갯수-->
    <select id="selectBoardListCnt" parameterType="EmpReq" resultType="int">
        select count(*)
        from TB_EMPLOYEE
        <include refid="sqlSelectBoardList"/>
    </select>

    <!--엑셀 download-->

    <select id="selectExcelList" resultType="EmpDTO" parameterType="java.lang.Integer">
        select EMP_NO  empno
             , EMP_NM  empNm
             , EMP_PHN empPhn
             , EMP_EML empEml
        from TB_EMPLOYEE
    </select>

    <!--엑셀 download-->
    <select id="selectEmpInfo" resultType="EmpDTO" parameterType="int">
        SELECT A.EMP_NO
             , A.EMP_NM
             , A.EMP_PHN
             , A.EMP_EML
             , D.IMG_NM
             , A.EMP_HR_DT
             , A.EMP_ACN_NMB
             , A.EMP_SLR
             , A.EMP_VCTN_TTL
             , A.EMP_BRT_DT
             , A.EMP_RNK_CD
             , A.EMP_ST_CD
             , A.EMP_AUTH_CD
             , B.CD_VAL_NM AS RNK_NM
             , C.CD_VAL_NM AS ST_NM
             , COALESCE(A.EMP_VCTN_TTL -
                        (SELECT SUM(VCTN_DAY_CNT) FROM TB_VACATION WHERE EMP_NO = A.EMP_NO AND VCTN_ST_CD = '02'),
                        0) AS VCTN_RSD_CNT
        FROM TB_EMPLOYEE A
                 LEFT JOIN TB_CODE B ON A.EMP_RNK_CD = B.CD_VAL AND B.CD_ID = 'EMP_RNK_CD'
                 LEFT JOIN TB_CODE C ON A.EMP_ST_CD = C.CD_VAL AND C.CD_ID = 'EMP_ST_CD'
                 LEFT JOIN TB_IMAGE D on A.IMG_NO = D.IMG_NO
        WHERE A.EMP_NO = #{empNo}
    </select>

    <!--사원 정보 update -->
    <update id="empListUpdate" parameterType="EmpDTO">
        UPDATE TB_EMPLOYEE
        SET emp_Nm       = #{empNm},
            emp_Pwd      = #{empPwd},
            emp_Phn      = #{empPhn},
            emp_Eml      = #{empEml},
            emp_St_Cd    = #{empStCd},
            emp_Rnk_Cd   = #{empRnkCd},
            emp_Hr_Dt    = #{empHrDt},
            emp_Slr      = #{empSlr},
            emp_Brt_Dt   = #{empBrtDt},
            EMP_VCTN_TTL = #{empVctnTtl}
        WHERE emp_No = #{empNo}
    </update>


    <!-- 출퇴근 -->
    <insert id="insertCommute" parameterType="EmpCommuteDTO">
        INSERT INTO TB_ATNDN (EMP_NO,
                              ADRES,
                              GEO_LOC,
                              TIME,
                              WORK_CD)
        VALUES ( #{empNo}
               , #{address}
               , ST_GeomFromText(#{geoLoc})
               , NOW()
               , #{workcd})
    </insert>
    <!--    출퇴근 리스트 가져오기-->
    <select id="selectCommuteList"  parameterType="EmpReq" resultType="EmpCommuteDTO">
        select A.ATNDN_NO atndnNo
             , A.EMP_NO   empNo
             , B.EMP_NM   empNm
             , A.ADRES    address
             , A.GEO_LOC  geoLoc
             , A.WORK_CD  workcd
             , A.time     time
        FROM TB_ATNDN A
                 JOIN TB_EMPLOYEE B
                     ON A.EMP_NO = B.EMP_NO
        ORDER BY A.time DESC
        <include refid="sqlSelectBoardList"/>
        LIMIT #{startList}, #{listSize}
    </select>


    <!-- 사원 목록 이메일 여부-->
    <select id="getEmpByEmpEml" parameterType="String" resultType="EmpDTO">
        select EMP_EML empEml
        FROM TB_EMPLOYEE
        WHERE EMP_EML = #{empEml}
    </select>

    <!--카카오 회원가입-->
    <insert id="insertKakaoUser" parameterType="EmpDTO">
        INSERT INTO TB_EMPLOYEE ( EMP_NO
                                , EMP_NM
                                , EMP_PWD
                                , EMP_PHN
                                , EMP_EML
                                , EMP_ST_CD
                                , EMP_RNK_CD
                                , EMP_HR_DT
                                , EMP_AUTH_CD
                                , SNS_CD
                                , SNS_KEY
                                , EMP_BRT_DT
                                , REG_DTM)
        VALUES ( #{empNo}
               , #{empNm}
               , #{empPwd}
               , #{empPhn}
               , #{empEml}
               , #{empStCd}
               , #{empRnkCd}
               , #{empHrDt}
               , #{empAuthCd}
               , #{snsCd}
               , #{snsKey}
               , #{empBrtDt}
               , sysdate())
    </insert>

    <!-- 카카오 가입 update -->
    <update id="kakaoUpdate" parameterType="EmpDTO">
        UPDATE TB_EMPLOYEE
        SET EMP_NM     = #{empNm},
            EMP_PWD    = #{empPwd},
            EMP_PHN    = #{empPhn},
            EMP_EML    = #{empEml},
            EMP_ST_CD  = #{empStCd},
            EMP_RNK_CD = #{empRnkCd},
            EMP_HR_DT  = #{empHrDt},
            EMP_SLR    = #{empSlr},
            EMP_BRT_DT = #{empBrtDt}
        WHERE SNS_KEY = #{snsKey}
    </update>


    <!-- snskey로 확인  -->
    <select id="selectSnsKey" parameterType="String" resultType="EmpDTO">
        SELECT EMP_NO     empNo
             , EMP_NM     empNm
             , EMP_PHN    empPhn
             , EMP_EML    empEml
             , EMP_ST_CD  empStCd
             , EMP_RNK_CD empRnkCd
             , EMP_HR_DT  empHrDt
             , EMP_BRT_DT empBrtDt
             , SNS_KEY    snsKey
             , REG_DTM
        FROM TB_EMPLOYEE
        WHERE SNS_KEY = #{snsKey}
/*        AND EMP_NM = #{empNm}*/
    </select>


</mapper>