<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.vcMapper">

    <!-- 휴가 조회 -->
    <select id="getVcEmpNo" parameterType="EmpReq" resultType="VacationDTO">
        SELECT v.VCTN_NO vctnNo,
        v.EMP_NO empNo,
        v.VCTN_DAY_CNT vctnDayCnt,
        (e.EMP_VCTN_TTL - IFNULL(vc.cnt, 0)) vctnRsdCnt,
        v.VCTN_RSN vctnRsn,
        v.VCTN_KND_CD vctnKndCd,
        v.VCTN_ST_CD vctnStCd,
        v.VCTN_STR_DT vctnStrDt,
        v.VCTN_END_DT vctnEndDt,
        v.VCTN_APL_DTM vctnAplDtm,
        e.EMP_NM empNm,
        e.EMP_PHN empPhn,
        e.EMP_VCTN_TTL empVctnTtl,
        C.CD_VAL_NM AS vctnKndNm,
        D.CD_VAL_NM AS vctnStNm
        FROM TB_VACATION v
        INNER JOIN TB_EMPLOYEE e ON v.EMP_NO = e.EMP_NO
        LEFT JOIN TB_CODE C ON v.VCTN_KND_CD = C.CD_VAL AND C.CD_ID = 'VCTN_KND_CD'
        LEFT JOIN TB_CODE D ON v.VCTN_ST_CD = D.CD_VAL AND D.CD_ID = 'VCTN_ST_CD'
        LEFT OUTER JOIN (
        SELECT IFNULL(SUM(z.VCTN_DAY_CNT), 0) cnt, z.EMP_NO
        FROM TB_VACATION z
        WHERE VCTN_ST_CD = '02'
        GROUP BY z.EMP_NO
        ) vc on e.EMP_NO = vc.EMP_NO
        <include refid="sqlSelectBoardList"/>
        ORDER BY v.VCTN_NO DESC
        LIMIT #{startList}, #{listSize};
    </select>

    <sql id="sqlSelectBoardList">
        <where>
            <if test="empNo != null and empNo != ''">
                and v.EMP_NO = #{empNo}
            </if>
            <if test="empNm != null and empNm != ''">
                and e.EMP_NM LIKE CONCAT('%', #{empNm}, '%')
            </if>
            <if test="strDt != null and strDt != '' and (endDt == null or endDt == '')">
                <!-- 휴가 시작일이 해당 날짜 이후 또는 같은 날짜인 경우 -->
                and v.VCTN_STR_DT >= STR_TO_DATE(#{strDt}, '%Y-%m-%d')
            </if>
            <if test="endDt != null and endDt != '' and (strDt == null or strDt == '')">
                <!-- 휴가 종료일이 해당 날짜 이전 또는 같은 날짜인 경우 -->
                and v.VCTN_END_DT &lt;= STR_TO_DATE(#{endDt}, '%Y-%m-%d')
            </if>
            <if test="strDt != null and strDt != '' and endDt != null and endDt != ''">
                <!-- 휴가 기간이 지정된 범위 내에 있는 경우 -->
                and (v.VCTN_STR_DT BETWEEN STR_TO_DATE(#{strDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d')
                or v.VCTN_END_DT BETWEEN STR_TO_DATE(#{strDt}, '%Y-%m-%d') AND STR_TO_DATE(#{endDt}, '%Y-%m-%d'))
            </if>
        </where>
    </sql>

    <!--목록 갯수-->
    <select id="selectVcListCnt" parameterType="EmpReq" resultType="int">
        SELECT count(*)
        FROM TB_VACATION v
        INNER JOIN TB_EMPLOYEE e ON v.EMP_NO = e.EMP_NO
        <include refid="sqlSelectBoardList"/>
    </select>

    <!-- 휴가 정보 상세 페이지 getUsedVc -->
    <select id="selectUsedVc" parameterType="int" resultType="VacationDTO">
        SELECT v.VCTN_NO                            vctnNo,
               v.EMP_NO                             empNo,
               v.VCTN_DAY_CNT                       vctnDayCnt,
               v.VCTN_RSN                           vctnRsn,
               v.VCTN_KND_CD                        vctnKndCd,
               (e.EMP_VCTN_TTL - IFNULL(vc.cnt, 0)) vctnRsdCnt,
               v.VCTN_ST_CD                         vctnStCd,
               v.VCTN_STR_DT                        vctnStrDt,
               v.VCTN_END_DT                        vctnEndDt,
               v.VCTN_APL_DTM                       vctnAplDtm,
               e.EMP_NM                             empNm,
               e.EMP_PHN                            empPhn,
               e.EMP_VCTN_TTL                       empVctnTtl
        FROM TB_VACATION v
                 INNER JOIN TB_EMPLOYEE e ON v.EMP_NO = e.EMP_NO
                 left outer join (SELECT IFNULL(SUM(z.VCTN_DAY_CNT), 0) cnt, z.EMP_NO
                                  FROM TB_VACATION z
                                  WHERE VCTN_ST_CD = '02'
                                  GROUP BY z.EMP_NO) vc on e.EMP_NO = vc.EMP_NO
        WHERE v.VCTN_NO = #{vctnNo}
        ORDER BY v.VCTN_NO DESC;
    </select>

    <!--  휴가 신청 -->
    <insert id="insertVacation" parameterType="VcCreate">
        INSERT INTO TB_VACATION
        (
        EMP_NO,
        VCTN_STR_DT,
        VCTN_END_DT,
        VCTN_KND_CD,
        VCTN_RSN,
        VCTN_RSD_CNT,
        VCTN_APL_DTM,
        VCTN_DAY_CNT
        )
        VALUES
        (
        #{empNo},
        #{vctnStrDt},
        #{vctnEndDt},
        #{vctnKndCd},
        #{vctnRsn},
        (
        SELECT a.EMP_VCTN_TTL - IFNULL(b.cnt, 0)
        FROM TB_EMPLOYEE a
        LEFT OUTER JOIN (
        SELECT IFNULL(SUM(z.VCTN_DAY_CNT), 0) cnt, z.EMP_NO
        FROM TB_VACATION z
        WHERE VCTN_ST_CD = '02'
        GROUP BY z.EMP_NO
        ) b ON a.EMP_NO = b.EMP_NO
        WHERE a.EMP_NO = #{empNo}
        ),
        NOW(),
        <choose>
            <when test='vctnKndCd == "02" or vctnKndCd == "03"'>
                #{vctnHalfCnt}
            </when>
            <otherwise>
                #{vctnDayCnt}
            </otherwise>
        </choose>
        )
    </insert>


    <!-- 휴가 조회 -->
    <select id="selectVacation" parameterType="EmpReq" resultType="VacationDTO">
        SELECT VCTN_NO      vctnNo,
               EMP_NO       empNo,
               VCTN_DAY_CNT vctnDayCnt,
               VCTN_RSN     vctnRsn,
               VCTN_RSD_CNT vctnRsdCnt
        FROM TB_VACATION
        WHERE EMP_NO = #{empNo}
        ORDER BY VCTN_NO DESC LIMIT 1;

    </select>

    <!-- 휴가 승인 취소 -->
    <update id="updateVc" parameterType="VacationDTO">
        UPDATE TB_VACATION
        SET VCTN_ST_CD = #{vctnStCd}
        WHERE VCTN_NO = #{vctnNo}
    </update>


</mapper>