<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.vcMapper">

    <!-- 휴가 조회 -->
    <select id="getVcEmpNo" parameterType="EmpReq" resultType="VacationDTO">
        SELECT
        v.VCTN_NO vctnNo,
        v.EMP_NO empNo,
        v.VCTN_DAY_CNT vctnDayCnt,
        v.VCTN_RSN vctnRsn,
        v.VCTN_RSD_CNT vctnRsdCnt,
        v.VCTN_ST_CD vctnStCd,
        v.VCTN_STR_DT vctnStrDt,
        v.VCTN_END_DT vctnEndDt,
        v.VCTN_APL_DTM vctnAplDtm,
        e.EMP_NM empNm,
        e.EMP_PHN empPhn,
        e.EMP_VCTN_TTL empVctnTtl
        FROM TB_VACATION v
        INNER JOIN TB_EMPLOYEE e ON v.EMP_NO = e.EMP_NO
        <include refid="sqlSelectBoardList"/>

        LIMIT #{startList}, #{listSize};
    </select>

    <!-- 검색 조건(vcno, 이름, 날짜 범위, 신청일) -->
    <sql id="sqlSelectBoardList">
        <where>
            <if test="vctnNo != null and vctnNo != ''">
                and v.VCTN_NO = #{vctnNo}
            </if>
            <if test="empNm != null and empNm != ''">
                and e.EMP_NM LIKE CONCAT('%', #{empNm}, '%')
            </if>
            <!-- 시작일 또는 종료일이 검색 범위에 포함되는 날짜 검색 -->
            <if test="vctnStrDt != null and vctnStrDt != ''">
                and (
                v.VCTN_STR_DT &gt;= STR_TO_DATE(#{vctnStrDt}, '%Y-%m-%d')
                or
                v.VCTN_END_DT &gt;= STR_TO_DATE(#{vctnStrDt}, '%Y-%m-%d')
                )
            </if>

            <if test="vctnEndDt != null and vctnEndDt != ''">
                and (
                v.VCTN_STR_DT &lt;= STR_TO_DATE(#{vctnEndDt}, '%Y-%m-%d')
                or
                v.VCTN_END_DT &lt;= STR_TO_DATE(#{vctnEndDt}, '%Y-%m-%d')
                )
            </if>
<!--            <if test="vctnStrDt != null and vctnStrDt != '' and vctnEndDt != null and vctnEndDt != ''">
                and v.VCTN_STR_DT &lt;= STR_TO_DATE(#{vctnEndDt}, '%Y-%m-%d')
                and v.VCTN_END_DT &gt;= STR_TO_DATE(#{vctnStrDt}, '%Y-%m-%d')
            </if>
            <if test="vctnAplDtm != null and vctnAplDtm != ''">
                and v.VCTN_APL_DTM = STR_TO_DATE(#{vctnAplDtm}, '%Y-%m-%d')
            </if>-->
        </where>
    </sql>

    <!--목록 갯수-->
    <select id="selectVcListCnt" parameterType="EmpReq" resultType="int">
        SELECT count(*)
        FROM TB_VACATION v
        INNER JOIN TB_EMPLOYEE e ON v.EMP_NO = e.EMP_NO
        <include refid="sqlSelectBoardList"/>
    </select>



    <!-- 휴가 정보 상세 페이지 -->
    <select id="getVcDetail" parameterType="int" resultType="VacationDTO">
        SELECT
            v.VCTN_NO vctnNo,
            v.EMP_NO empNo,
            v.VCTN_DAY_CNT vctnDayCnt,
            v.VCTN_RSN vctnRsn,
            v.VCTN_RSD_CNT vctnRsdCnt,
            v.VCTN_ST_CD vctnStCd,
            v.VCTN_STR_DT vctnStrDt,
            v.VCTN_END_DT vctnEndDt,
            v.VCTN_APL_DTM vctnAplDtm,
            e.EMP_NM empNm,
            e.EMP_PHN empPhn,
            e.EMP_VCTN_TTL empVctnTtl
        FROM TB_VACATION v
                 INNER JOIN TB_EMPLOYEE e ON v.EMP_NO = e.EMP_NO
        WHERE v.VCTN_NO = #{vctnNo};
    </select>



    <!--  휴가 신청 -->
    <insert id="insertVacation" parameterType="VcCreate">
        INSERT INTO TB_VACATION (EMP_NO,
                                 VCTN_STR_DT,
                                 VCTN_END_DT,
                                 VCTN_KND_CD,
                                 VCTN_ST_CD,
                                 VCTN_DAY_CNT,
                                 VCTN_RSN,
                                 VCTN_RSD_CNT,
                                 VCTN_APL_DTM)
        VALUES (#{empNo},
                #{vctnStrDt},
                #{vctnEndDt},
                #{vctnKndCd},
                #{vctnStCd},
                #{vctnDayCnt},
                #{vctnRsn},
                #{vctnRsdCnt},
                sysdate());
    </insert>

    <!--  휴가 조회-->
    <select id="getVacation" parameterType="EmpReq" resultType="VacationDTO">
        SELECT VCTN_NO      vctnNo,
               EMP_NO       empNo,
               VCTN_DAY_CNT vctnDayCnt,
               VCTN_RSN     vctnRsn,
               VCTN_RSD_CNT vctnRsdCnt
        FROM TB_VACATION
        WHERE VCTN_NO = #{vctnNo}
    </select>

    <!--  휴가 승인 취소-->
    <update id="updateVacationStatus" parameterType="VacationDTO">
        UPDATE TB_VACATION
        SET VCTN_ST_CD = #{vctnStCd}
        WHERE VCTN_NO = #{vctnNo}
    </update>

</mapper>